In [1]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('../Data/referentials/referentiel-comptages-routiers+arrondissements+limites.csv', header=None, delimiter=';')

In [14]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,1009,1106.0,4301.0,0.0,"{""type"": ""LineString"", ""coordinates"": [[2.2879...",2.286682,48.880469,75017,2.287980,48.880174,2.285384,48.880764
1,1013,1110.0,5868.0,0.0,"{""type"": ""LineString"", ""coordinates"": [[2.4033...",2.404492,48.836202,75012,2.403380,48.836600,2.405605,48.835804
2,1016,1114.0,242.0,0.0,"{""type"": ""LineString"", ""coordinates"": [[2.3237...",2.323437,48.868812,75008,2.323723,48.869214,2.323151,48.868409
3,1027,1125.0,1368.0,0.0,"{""type"": ""LineString"", ""coordinates"": [[2.3668...",2.366342,48.863919,75011,2.366809,48.863175,2.365876,48.864664
4,1028,1126.0,1366.0,0.0,"{""type"": ""LineString"", ""coordinates"": [[2.3658...",2.365704,48.864964,75011,2.365876,48.864664,2.365531,48.865264

In [20]:
len([e for e in list(pd.notna(df)[7]) if not e])

0

In [21]:
df.shape

(3313, 12)