In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('../Data/traffic/donnees_trafic_capteurs_201601.txt', header=None, delimiter='\t')

C:\Users\User\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df.head()

   0                    1     2    3
0  1  2016-01-01 01:00:00  1560  5,3
1  1  2016-01-01 02:00:00  1640  5,3
2  1  2016-01-01 03:00:00  1484    5
3  1  2016-01-01 04:00:00  1174  3,8
4  1  2016-01-01 05:00:00   977  3,1

In [4]:
df.shape

(2147184, 1)

In [5]:
2e6 * 12 * 3

72000000.0

In [17]:
max(df[pd.not_na().df[3]])

AttributeError: module 'pandas' has no attribute 'not_na'

In [19]:
df.describe()

                  0
count  2.147184e+06
mean   3.500726e+03
std    2.310729e+03
min    1.000000e+00
25%    1.110000e+03
50%    4.484000e+03
75%    5.478000e+03
max    6.971000e+03

In [23]:
max(df[3])

TypeError: '>' not supported between instances of 'float' and 'str'